body{
    background-image: url("11.jpg"); 
    background-repeat: repeat;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
}
.form-conatiner{
    border: 0px solid #fff;
    padding: 50px 60px;
    margin-top: 40%;
    -webkit-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    border-radius: 30px;
}
img {
    border-radius: 50%;
    position: center;
    height: 70px;
    width: 90px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
