* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-image: url("8.jpg");
    background-repeat: no-repeat;
    background-color: #f8fafc;
    background-size: 1550px 800px;
}
.login {
    opacity: 0.95;
    border-radius: 5%;
    width: 400px;
    box-shadow: 0 0 9px 0 rgba(253, 253, 253, 0.959);
    margin: 100px auto;
    -webkit-box-shadow: 0px 0px 25px 13px rgba(8,6,8,1);
    -moz-box-shadow: 0px 0px 25px 13px rgba(8,6,8,1);
    box-shadow: 0px 0px 25px 13px rgba(8,6,8,1);
    
}
.login h1 {
    border-radius: 5%;
    margin-top: 50%;
    text-align: center;
    color: #f0f2f5;
    font-size: 24px;
    padding: 20px 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    margin-left: 10px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    margin-right: 10px;
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
    background-color: #246cd8f6;
    transition: background-color 0.2s;
}
